{% extends "base.html" %}
{% block analize_tab %}class="tab_backlight" {% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Обновить" />
</form>
{% if analysis_list %}
  {% for a in analysis_list %}
  <div class="analysis">
    <h4>{{ a.title }}</h4>
    <div id="{{ a.name }}">
      {% if a.data %}
            {% for type, value in a.data %}
	    <div id="left">{{ type }}</div>
	    <div id="right">{{ value }}</div>
	    <div id="center">=</div>
            {% endfor %}
      {% else %}
              <li>Данных нет</li>
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% else %}
  <p>Данных нет</p>
{% endif %}
{% if latest_spending_list %}
<h4>Список трат за указанный период</h4>
{% for spending in latest_spending_list %}
<li><a href='/{{ spending.pk }}/'>{{ spending }}</a></li>
{% endfor %}
{% else %}
<p>Нет записей</p>
{% endif %}

{% endblock %}
