<!DOCTYPE html>
<html>
<head>
  <link href="/static/style.css" rel="stylesheet">
  {% block title %}{% endblock %}
</head>
<body>
<header>
<table>
  {% for a in account_list %}
  <th>{{ a.name }}</th>
  {% endfor %}
  <tr>
    {% for a in account_list %}
      <td>{{ a.money }}</td>
    {% endfor %}
  </tr>
</table>
<div id="navigation">
  <div id="menu">
    <a href='/'>Траты</a>
    <a href='/income/'>Доходы</a>
    <a href='/transfer/'>Переводы</a>
    <a href='/analytics/'>Анализ расходов</a>
    <a href='/admin/'>Admin</a>
  </div>
  <div id="logout">
    <a href='/accounts/logout/?next=/{% block logout %}{% endblock %}'>Выйти</a>({{ username }})
  </div>
</div>
</header>
<div id="content">
  {% block content %}{% endblock %}
</div>
</body>
</html>
