<html>
<head>
{% block title %}{% endblock %}
</head>
<body>
<a href='/accounts/logout/?next=/{% block logout %}{% endblock %}'>Выйти</a>({{ username }})
<table>
  {% for a in account_list %}
  <th>{{ a.name }}</th>
  {% endfor %}
  <tr>
    {% for a in account_list %}
      <td>{{ a.money }}</td>
    {% endfor %}
  </tr>
</table>
<div>
  <a href='/'>Траты</a> |
  <a href='/income/'>Доходы</a> |
  <a href='/transfer/'>Переводы</a> |
  <a href='/analytics/'>Анализ расходов</a> |
  <a href='/admin/'>Admin</a>
</div>
{% block content %}{% endblock %}
</body>
</html>
